# System Requirements
Java JDK: 17 or higher
Build Tool: Maven 3.6+

# Core Project Dependencies
Spring Boot: 3.2.3
JavaFX: 21
AtlantaFX: 2.0.1
H2 Database: 2.2.224
iText PDF: 8.0.2
Jackson Databind: 2.15.4
